<!DOCTYPE html>
<html>
  <head>
    <title>Pagina inicial</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/docs">Para acceder a la documentación haz click aqui</a></h1>
    
  </body>
</html>
